  # Config File for Glance Backup

admin_username=admin
admin_password=admin_pass
admin_tenantId=ac331507c10142f0a1a8cd881ccae3d1
api_endpoint_identity_service=http://161.3.200.2:5000/v2.0
api_endpoint_compute_service=http://161.3.200.2:8774/v2/ac331507c10142f0a1a8cd881ccae3d1
glance_images_folder=/glance/images/
sources_file=/home/satin/sources
script_dir=/home/satin/openstack-backup/
 
  # VM ID
  # Examples :
  # name;backup_type;rotation;ID
  # BackupAutoScript
DockerBackupAutoScript;daily;2;7364d36d-6f12-4e9d-8533-a0f43b64ba06
LDAPBackupAutoScript;weekly;2;6d50e386-4148-4048-aa07-c799f767c341
DNSBackupAutoScript;daily;2;7af130a4-43c7-4ed5-be3b-0760f99472d7
MongoDBBackupAutoScript;weekly;3;7463cd4b-d7db-4dbf-be98-9050ee05f7bb
