  # Config File for Glance Backup

admin_username=admin
admin_password=admin_pass
admin_tenantId=ac331507c10142f0a1a8cd881ccae3d1
api_endpoint_identity_service=http://161.3.200.2:5000/v2.0
api_endpoint_compute_service=http://161.3.200.2:8774/v2/ac331507c10142f0a1a8cd881ccae3d1
glance_images_folder=/glance/images/
glance_images_backup=/glance/VMBackup/
sources_file=/home/satin/sources
script_dir=/home/satin/openstack-backup/
log=/glance/VMBackup/log
 
  # VM ID
  # Examples :
  # name;backup_type;rotation;ID
  # BackupAutoScript

# satin
#LDAPBackupAutoScript;weekly;3;6d50e386-4148-4048-aa07-c799f767c341
#DNSBackupAutoScript;weekly;3;7af130a4-43c7-4ed5-be3b-0760f99472d7
#ChefBackupAutoScript;weekly;3;4e279752-e2dd-43a7-ad77-999b5f68e842
#ArtifactoryBackupAutoScript;weekly;3;89946f5d-6b22-43ac-87f7-49abbb265289
#SitepersoBackupAutoScript;weekly;3;86bc9f6a-84d4-4693-98d1-05f52cec3608
#SupervisionBackupAutoScript;weekly;3;c91d7f41-e5ee-42aa-92bc-7b18e27e021c

# christophe additions
#FacesBackupAutoScript;weekly;3;38dfc369-4daa-4a3a-bf14-f7d91e9ff569
#ReverseproxyDemoBackupAutoScript;weekly;3;1326ca68-b41f-423b-b9e2-a2902f0b005b
FireBackupAutoScript;weekly;3;a6962882-dcab-413f-b942-694566af0206
#MilkdataAtlassianBackupAutoScript;weekly;3;01174a7c-95ff-4b07-865e-28930f9bd01b
#PedaIhmBackupAutoScript;weekly;3;da46d8c4-2907-4ad6-8ddc-58dab419d590

# nicolas additionns
oriFS2BackupAutoScript;weekly;3;c6758cb7-5694-417b-8fbb-7c290e8e8af1

# new: BackupAutoScript;weekly;3;ID
